/*
Styles inline validation warnings
 */
#mw-massmessage-form-spamlist-status.invalid,
#mw-input-wptitle-status.invalid,
#mw-input-wptitle-status.invalid {
	border: 1px solid #FF8080;
	border-bottom-right-radius: 0.8em;
	border-top-right-radius: 0.8em;
	background-color: #FFC0C0;
	color: black;
	padding: 2px 1em;
}
